fastapi
uvicorn[standard]
httpx
pydantic
python-multipart
pypdf
python-docx
langchain
langchain-chroma
langchain-ollama
chromadb
langchain-community
langchain_experimental
langchain_classic
databases
asyncpg
psycopg2-binary
sqlalchemy
asyncio
aiofiles
aiohttp
fastapi[all]
